:root{
    --blanco: #FFFCE8;
    --azul: #00c8ff;
    --negro: black;
    --cian: #e6faff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--cian);
    color: var(--negro);
}

.contenedor-dashboard {
    display: flex;
    min-height: 100vh;
}

.barra-lateral {
    width: 250px;
    background-color: var(--azul);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 20px;
    margin: 0;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu .opcion {
    padding: 15px 20px;
    text-decoration: none;
    color: var(--blanco);
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.menu .opcion:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

.contenido-principal {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: 22%;
    background-color: var(--blanco);
    color: var(--primario);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.contenedor-tabla {
    margin-top: 20px;
    overflow-x: auto;
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--azul);
    color: var(--negro);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

button {
    background-color: var(--azul);
    color: var(--negro);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-pdf , .boton-xls{
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.boton-pdf:hover, .boton-xls:hover{
    background-color: var(--blanco);
}

.boton-pdf .material-icons, .boton-xls .material-icons{
    font-size: 18px;
}
button:hover {
    background-color: var(--blanco);
    color: var(--negro);
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: var(--negro);
}

input[type="date"], select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--cian);
    color: var(--negro);
    transition: border-color 0.3s ease;
}

input[type="date"]:focus, select:focus {
    border-color: var(--azul);
    outline: none;
}

button.boton-pdf {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.boton-pdf:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

button.boton-pdf .material-icons {
    font-size: 18px;
}
