*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(../img/13263.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(150deg, rgb(106, 174, 230),rgb(20, 66, 104) ) ; ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 580px;
    padding: 20px;
    text-align: center;
}

.from-image img{
    margin-bottom: 10px;
    width:100px;
}


.pendding-wrap h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #666;
    transition: all 0.3s;
}

.form-group input:focus + label, .form-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #007BFF;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
