<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/registro.css">
    <link rel="icon" href="..//static/Admin/img/logoCHGcircul.png">
    <link rel="stylesheet" href="../templates/IndexChronoGuard.html">
    <title>Crear Cuenta</title>
</head>
<body> 

    <div class="container">
        <!-- Formulario de nombre y correo -->
        <div class="form-wrap" id="form1">
            <div class="from-image">
               <img src="..//static/Admin/img/logoCHGcircul.png" alt="">           
            </div>
            <div class="pendding-wrap">
                <h1>Crear una Cuenta</h1>
                <form action="" id="sing-up-1">

                    <div class="form-group">
                        <input type="text" required id="name" placeholder=" ">
                        <label for="name">Nombre</label>
                    </div>

                    <div class="form-group">
                        <input type="email" required id="email" placeholder=" ">
                        <label for="email">Correo</label>
                    </div>

                    <div class="form-group">
                        <input type="number" required id="documento" placeholder=" ">
                        <label for="document">Documento</label>
                    </div>

                    <div class="form-group">
                        <input type="text" required id="email" placeholder=" ">
                        <label for="direccion">Dirección</label>
                    </div>

                    <div class="form-group">
                        <input type="number" required id="num" placeholder=" ">
                        <label for="telefono">Telefono</label>
                    </div>
                    <input type="submit" value="Siguiente" id="next-button">
                </form>
            </div>
        </div>

        <!-- Formulario de contraseña -->
        
        <div class="form-wrap" id="form2" style="display: none;">
            <div class="from-image">
                <img src="..//static/Admin/img/logoCHGcircul.png" alt="">           
             </div>
            <div class="pendding-wrap">
                <h1>Establecer Contraseña</h1>
                <form action="" id="sing-up-2">
                    <div class="form-group">
                        <input type="password" required id="password" placeholder=" ">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="form-group">
                        <input type="password" required id="confirm-password" placeholder=" ">
                        <label for="confirm-password">Confirmar Contraseña</label>
                    </div>
                    <input type="submit" value="Crear Cuenta">
                </form>
            </div>
        </div>
    </div>
    <!-- 
        // JavaScript para manejar el cambio entre formularios
        document.getElementById("next-button").addEventListener("click", function(event) {
            event.preventDefault();
            document.getElementById("form1").style.display = "none";
            document.getElementById("form2").style.display = "block";
        });
           // Redirección cuando se hace clic en "Crear Cuenta" en el segundo formulario
    document.querySelector("#sing-up-2").addEventListener("submit", function(event) {
        event.preventDefault(); // Evitar el comportamiento por defecto del formulario

        // Aquí puedes hacer validaciones si lo necesitas (por ejemplo, asegurarte que las contraseñas coinciden)

        // Si todo está bien, redirige al indexChronoGuard.html
        window.location.href = '/Evaluacio Html/IndexChronoGuard.html'; // Asegúrate de que la ruta sea correcta
    }); -->

    <script src="../static/Admin/JS/contraseña.js"></script>
    <script src="../static/Admin/JS/registro.js"></script>
    

</body>
</html>
